
/* ==UserStyle==
@name           RMS supporters/haters highlighter
@namespace      https://github.com/rndtrash/rms-supporters-haters-highlighter
@version        4.0.0
@description    nuff said
@author         rndtrash, tlani and frens :)
==/UserStyle== */

:root{--color-pr-state-open-text: #57ab5a;--color-pr-state-open-bg: rgba(87,171,90,0.1);--color-pr-state-open-border: rgba(87,171,90,0.4);--color-pr-state-merged-text: #986ee2;--color-pr-state-merged-bg: rgba(176,131,240,0.1);--color-pr-state-merged-border: rgba(176,131,240,0.4);--color-pr-state-closed-text: #e5534b;--color-pr-state-closed-bg: rgba(201,60,55,0.1);--color-pr-state-closed-border: rgba(201,60,55,0.4);}
@-moz-document domain("github.com") {
}
@-moz-document domain("github.com") {
}
@-moz-document domain("github.com") {
}
